[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "sublime/Theme - Afterglow"]
	path = sublime/Theme - Afterglow
	url = git@github.com:ChrisHonniball/afterglow-theme.git
[submodule "vim/bundle/vundle"]
	path = vim/vundle
	url = git@github.com:VundleVim/Vundle.vim.git
