[user]
	name = Chris Honniball
	email = chris.honniball@avatarfleet.com
[push]
	default = matching
[core]
	editor = vim
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
