# Jekyll
snippet post "Post Header"
---
layout: ${1:post}
title: ${2:Post Title}
---	
endsnippet

snippet ``` "Post Codeblock"
{% highlight ${1:syntax} %}
$2
{% endhighlight %}
endsnippet

snippet addon-readme "Ember Addon default README.md"
# ${1:addon-name}

View [documentation](https://chrishonniball.github.io/$1).
endsnippet
