# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sass":
	"Bootstrap variable sm":
		prefix: "media"
		body: """
			/* Bootstrap variable sm */
			@media (min-width: \\$screen-sm-min) and (max-width: \\$screen-sm-max) {
				$0
			}$1
		"""
