# Generated with Atomizr – https://atom.io/packages/atomizr
".source.css, source.sass":
	"Bootstrap default sm":
		prefix: "media"
		body: """
			/* Bootstrap default sm */
			@media (min-width: 768px) and (max-width: 991px) {
				$0
			}$1
		"""
