# Generated with Atomizr – https://atom.io/packages/atomizr
".source.sass":
	"Bootstrap variable md":
		prefix: "media"
		body: """
			/* Bootstrap variable md */
			@media (min-width: \\$screen-md-min) and (max-width: \\$screen-md-max) {
				$0
			}$1
		"""
