# Generated with Atomizr – https://atom.io/packages/atomizr
".text.html.handlebars":
	"Check Permission View":
		prefix: "check-permission"
		body: """
			{{#check-permission user=${1:model} permission=${2:0} killRender=${3:true} as |allowed|}}
				{{#unless allowed}}
				{{else}}
				{{/unless}}
			{{/check-permission}}$4
		"""
