# Generated with Atomizr – https://atom.io/packages/atomizr
".text.html":
	"Check Model isLoaded":
		prefix: "model"
		body: """
			{{#unless ${1:promise}.isLoaded}}
				{{#if ${1}.isError}}
					{{! Error - Something went wrong }}

					$2
				{{else}}
					{{! Not Loaded or Error - Loading... }}

					$3
				{{/if}}
			{{else}}
				{{! Loaded - Should have data. }}

				$4
			{{/unless}}$5
		"""
