# Generated with Atomizr – https://atom.io/packages/atomizr
".source.css, source.sass":
	"Desktops and laptops":
		prefix: "media"
		body: """
			/* Desktops and laptops */
			@media only screen  and (min-width : 1224px) {
				$0
			}$1
		"""
