# Generated with Atomizr – https://atom.io/packages/atomizr
".source.css, source.sass":
	"Ember Addon default CSS":
		prefix: "addon-css"
		body: """
			@media (min-width: 768px) {
				.dl-horizontal dt {
					width: 200px;
				}

				.dl-horizontal dd {
					margin-left: 220px;
				}
			}$1
		"""
