# Generated with Atomizr – https://atom.io/packages/atomizr
".source.css, source.sass":
	"Large screens":
		prefix: "media"
		body: """
			/* Large screens */
			@media only screen  and (min-width : 1824px) {
				$0
			}$1
		"""
