# Generated with Atomizr – https://atom.io/packages/atomizr
".source.css, source.sass":
	"Non-retina displays":
		prefix: "media"
		body: """
			/* Non-retina displays */
			@media (max-device-pizel-ratio: 1.5) {
				$0
			}$1
		"""
