"*":
  coffeelint:
    max_line_length:
      level: "ignore"
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "wrap-guide"
    ]
    ignoredNames: [
      "*.pyc"
      "*.pyo"
      "*.exe"
      "*.dll"
      "*.obj"
      "*.o"
      "*.a"
      "*.lib"
      "*.so"
      "*.dylib"
      "*.ncb"
      "*.sdf"
      "*.suo"
      "*.pdb"
      "*.idb"
      ".DS_Store"
      "*.class"
      "*.psd"
      "*.db"
      "*.sublime-workspace"
      ".svn"
      ".git"
      ".hg"
      "CVS"
      "tmp"
      "dist"
      "node_modules"
      "bower_components"
      "vendor"
      "lib"
      ".sass-cache"
      "compile-cache"
    ]
    restorePreviousWindowsOnStart: false
    themes: [
      "one-dark-ui"
      "afterglow-plus"
    ]
  editor:
    fontFamily: "Hack"
    invisibles:
      cr: "↵"
      eol: " "
      space: "∙"
    normalizeIndentOnPaste: true
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 4
    tabType: "soft"
  "exception-reporting":
    userId: "42b83fff-4bed-7f71-bd71-6f9d1794b84d"
  linter: {}
  "tabs-to-spaces":
    onSave: "untabify"
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
".json.source.subl":
  editor:
    normalizeIndentOnPaste: "true"
    softWrapHangingIndent: 4
".source.subl.yaml":
  editor:
    normalizeIndentOnPaste: "true"
    softWrapHangingIndent: 4
".subl.text.xml":
  editor:
    normalizeIndentOnPaste: "true"
    softWrapHangingIndent: 4
